
/* Applying styling to the background */
* {
    background-color: lightblue; /* make the background light blue */
  }
  
  /* Applying styling to the h1 elements */
  h1 {
    color: navy; /* make all h1 elements navy colored */
    margin: auto;
    width: 120px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
  }

  h2{
    argin-left: 60px; /*shift h1 elements to the right by 20 pixels */
    color: green;
    text-decoration: green wavy underline;
  }

  h4{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  h5{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button:hover {
    color: blue;
  }

  input:hover {
    color: blue;
  }

  input:active {
    color: red;
  }

  nav{
    margin-top: 60px;
  }

 
  div{
    padding: 40px 20px 20px 20px; 
    display: inline-grid;
    grid-template-columns: 400px 400px;
    column-gap: 10px;
    
  }

  img{
    
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.25cm;
    padding-bottom: 0.5cm;
    
  }

  video{
    margin-left: 4mm;
    height: 18vh;
  }

  p{
    width: 30em;
    display: inline-block;
    font-family: 'Zen Dots', cursive;
  }

  section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  fieldset{
    width: 40vw;
    height: 20vh;
    max-width: 600px;
    max-height: 400px;
  }

  .first, #second{
    color: brown;
  }

  /*
  #second{
    color: brown;
  }
*/
  a[target="_blank"]{
    color: rgb(233, 35, 45);
  }

  div h5{
    
    position: relative;
    bottom: 40px;
    left: 10px;
  }

  fieldset > label{
    color:darkolivegreen;
  }

  summary ~ ol{
    color:rgb(233, 35, 233)
  }

  label + select{ 
    background-color: white;
  }

  p.third{
    color: lightslategrey;
  }